.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Лого слева, кнопка справа */
  padding: 10px 20px;
  border-bottom: 1px solid #eaeaea;
  align-items: flex-end;
}

.header {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.buttons-container {
  display: flex;
  gap: 12px; 
  justify-content: flex-end; 
  align-items: center;
  width: 100%;
}

.button-subtle {
  padding: 8px 16px;
  margin: 0px;
  background-color: #f8f9fa;
  color: #495057;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease;
}

.button-subtle:hover {
  background-color: #e9ecef;
  border-color: #dc3545;
  color: #dc3545;
}