/* Общие стили для страницы */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(237, 235, 235);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 480px) {
    .login-container {
        margin: 20px;
        padding: 30px 25px;
    }
}