<div class="container">
  <!-- Левая панель с иерархией компонентов -->
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>Список элементов</h3>
    </div>
    <div class="components-tree">
      <ul class="tree">
        <!-- ЭСН -->
        <li class="tree-item">
          <div class="tree-node" [class.expanded]="esnExpanded" (click)="toggleEsn()">
            <span class="toggle-icon">{{ esnExpanded ? '−' : '+' }}</span>
            <span class="component-name">ЭСН (Электроснабжение)</span>
          </div>
          <ul class="tree-subitems" *ngIf="esnExpanded">
            <!-- Электроагрегат 1 -->
            <li class="tree-item">
              <div class="tree-node" [class.expanded]="aggregate1Expanded" (click)="toggleAggregate(1)">
                <span class="toggle-icon">{{ aggregate1Expanded ? '−' : '+' }}</span>
                <span class="component-name">Электроагрегат #1</span>
              </div>
              <ul class="tree-subitems" *ngIf="aggregate1Expanded">
                <li class="tree-subitem">
                  <span class="component-name">Генератор</span>
                </li>
                <li class="tree-subitem">
                  <span class="component-name">Двигатель</span>
                </li>
                <li class="tree-subitem">
                  <span class="component-name">Система охлаждения</span>
                </li>
              </ul>
            </li>
            
            <!-- Электроагрегат 2 -->
            <li class="tree-item">
              <div class="tree-node" [class.expanded]="aggregate2Expanded" (click)="toggleAggregate(2)">
                <span class="toggle-icon">{{ aggregate2Expanded ? '−' : '+' }}</span>
                <span class="component-name">Электроагрегат #2</span>
              </div>
              <ul class="tree-subitems" *ngIf="aggregate2Expanded">
                <li class="tree-subitem">
                  <span class="component-name">Генератор</span>
                </li>
                <li class="tree-subitem">
                  <span class="component-name">Двигатель</span>
                </li>
                <li class="tree-subitem">
                  <span class="component-name">Система охлаждения</span>
                </li>
              </ul>
            </li>

            <!-- Электроагрегат 3 -->
            <li class="tree-item">
              <div class="tree-node" [class.expanded]="aggregate3Expanded" (click)="toggleAggregate(3)">
                <span class="toggle-icon">{{ aggregate3Expanded ? '−' : '+' }}</span>
                <span class="component-name">Электроагрегат #3</span>
              </div>
              <ul class="tree-subitems" *ngIf="aggregate3Expanded">
                <li class="tree-subitem">
                  <span class="component-name">Генератор</span>
                </li>
                <li class="tree-subitem">
                  <span class="component-name">Двигатель</span>
                </li>
                <li class="tree-subitem">
                  <span class="component-name">Система охлаждения</span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>